.container {
    padding: 4rem;
}

.col li {
    margin-bottom: 1rem;
}

.Awards-logoimg {
    width: 100%;
    margin-top: 2rem;
}

@media (max-width: 576px) {
    .home-awards-row {
      display: flex;
      flex-direction: column;
    }

    .home-awards-col-6 {
      width: 100%;
    }
  
}