.universe-p {
    font-size: 1.1rem;
}

/* image */
.universe-img-one {
    width: 50%;
}

.universe-img-two {
    width: 60%;
}

.universe-img-three {
    width: 40%;
}

/* column */
.universe-col-one {
    margin-top: 3rem;
}

.universe-col-two {
    margin-top: 3rem;
}

.universe-col-three {
    margin-top: 3rem;
}

/* paragraph */

.universe-p-one {
    font-size: 0.8rem;
    margin-top: 1rem;
}

.universe-p-two {
    font-size: 0.8rem;
    margin-top: 1.8rem;
}

.universe-p-three {
    font-size: 0.8rem;
    margin-top: 0.8rem;
}

/* Row */
.universe-row {
    margin-top: -5rem;
}





/* image */
.universe-img-four {
    width: 50%;
}

.universe-img-five {
    width: 60%;
}

.universe-img-six {
    width: 40%;
}

/* column */
.universe-col-four {
    margin-top: 3rem;
}

.universe-col-five {
    margin-top: 3rem;
}

.universe-col-six {
    margin-top: 3rem;
}

/* paragraph */

.universe-p-four {
    font-size: 0.8rem;
    margin-top: 1.2rem;
}

.universe-p-five {
    font-size: 0.8rem;
    margin-top: 1.4rem;
}

.universe-p-six {
    font-size: 0.8rem;
    margin-top: 1.5rem;
}

.Hero {
    width: 18%;
    margin-left: 33rem;
    background-color: #387ed1;
    text-decoration: none;
    color: white;
    font-weight: 400;
    border-radius: 4px;
    display: inline-block;
    align-items: center;
    padding: 0.3rem;
    font-size: 1.5rem;
    border: 1px solid #387ed1;
}

.Hero:hover {
    background-color: #424242;
}

@media (max-width: 576px) {
    .Hero {
        width: 40%; /* Further increase button width on very small screens */
        font-size: 12px; /* Further adjust font size */
        margin-left: 5.5rem;
    }
    .universe-img-one {
        width: 75%;
        margin-left: -1rem;
    }
    
    .universe-img-two {
        width: 80%;
        margin-left: -1rem;
    }
    
    .universe-img-three {
        width: 75%;
        margin-left: -1rem;

    }

    

    /* paragraph */

.universe-p-one {
    font-size: 1rem;
    margin-top: 1rem;
    width: 100%;
    margin-left: 0.5rem;
}

.universe-p-two {
    font-size: 1rem;
    margin-top: 1.8rem;
    width: 100%;
    margin-left: 0.5rem;
}

.universe-p-three {
    font-size: 1rem;
    margin-top: 0.8rem;
    width: 100%;
    margin-left: 0.5rem;
}

.universe-img-four {
    width: 75%;
    margin-left: -1rem;
}

.universe-img-five {
    width: 75%;
    margin-left: -1rem;
}

.universe-img-six {
    width: 65%;
    margin-left: -1rem;
}

/* paragraph */

.universe-p-four {
font-size: 1rem;
margin-top: 1rem;
width: 100%;
margin-left: 0.5rem;
}

.universe-p-five {
font-size: 1rem;
margin-top: 1.8rem;
width: 100%;
margin-left: 0.5rem;
}

.universe-p-six {
font-size: 1rem;
margin-top: 0.8rem;
width: 100%;
margin-left: 0.5rem;
}
    
}
